<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>What movies 4 now?</title>
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/w3.css">
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico">
        <header style="background-color: #474143;">
            <center>
                <!--Banner principal-->
                <div class="banner">
                    <img class="banner-image" src="../static/images/bannerindex.png"  style="width: 12vw; margin: 25px;">
                </div>
            </center>
        </header>
	</head>
	<body>
        <!--Conteiner com o usuário e o input de busca de usuário-->
        <div class="w3-container w3-teal">
            <div class="row">
            <div class="col-md-4">
                <label style="font-size: 20px; padding-left: 20px; padding-top: 20px;">USUÁRIO X</label>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <!--Input group-->
                    <!--Input do Input group-->
                    <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control" placeholder="ID do usuário" aria-label="ID do usuário" aria-describedby="basic-addon2">
                    <!--Botão do input group-->
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">BUSCAR</button>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

        <!--Bloco de conteúdo-->
        {% block content %}{% endblock %}

        <!--Footer-->
        <footer>
            <div class="container pt-5 border-bottom">
            <div class="row">
                <div class="col-md-3 col-sm-12 mb-3 text-center">
                </div>
                <div class="col-md-9 col-sm-12">
                <div class="col-md-5 col-sm-6 col-6 p-0 mb-3 float-left">
                    <!--Menu developers-->
                    <h5 class="mb-4 font-weight-bold text-uppercase" style="color:white">Developers</h5>
                    <!--Dados do Menu developers-->
                    <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2" style="color:white">Natália Braga da Fonseca</a></li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2" style="color:white">Vinícius José Santana de Mendonça</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
                    <!--Menu contact-->
                    <h5 class="mb-4 font-weight-bold text-uppercase" style="color:white">Contact</h5>
                    <!--Dados do Menu contact-->
                    <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <div class="banner">
                        <a href="https://www.linkedin.com/in/nataliabfonseca/" >
                            <img src="../static/images/link.png" style="width: 1vw; margin-left: 3px;">
                        </a>
                        <a href="https://github.com/nataliafonseca">
                            <img src="../static/images/github.png" style="width: 1vw; margin-left: 20px;">
                        </a>
                        </div>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://www.linkedin.com/in/vinícius-mendonça-2591231a2/" >
                        <img src="../static/images/link.png" style="width: 1vw; margin-left: 3px;">
                        </a>
                        <a href="https://github.com/viniciusmendonca95" >
                        <img src="../static/images/github.png" style="width: 1vw; margin-left: 20px;">
                        </a>
                    </li>
                    </ul>
                </div>
                </div>
                <!--Mensagem final-->
                <div class="col-md-12">
                    <div class="py-4 d-flex justify-content-center align-items-center">
                    <a class="mr-4" style="color:white" >&#169; 2020 - What movies 4 now?</a>
                    </div>
                </div>
            </div>
            </div>
        </footer>
    </body>
</html>
